body {
  background: #E5E5E5;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
form {
  margin: 0 auto;
  width: 30%;
  margin-top: 20px;
}
form input {
  width: 80%;
  margin: 10px;
}
form input img {
  margin-right: 15px;
}
.header-container {
  box-shadow: 0px 1px 2px rgba(221, 221, 221, 0.5);
  height: 105px;
  background: #FFFFFF;
  border-bottom: lightgray;
  height: 91px;
}
.headerWrapper {
  margin: 0;
  background: #fff;
  display: flex;
  align-items: center;

}
.headerWrapper input {
  background: transparent;
  border: 0;
  outline: none;

}
.headerWrapper .search-container {
  flex: 0 0 30%;
}
.headerWrapper .logo {
  flex: 0 0 40%;
}
.headerWrapper .inputWrapper {
  background: #FFFFFF;
  border: 1px solid #CACACA;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  align-items: center;
  height: 40px;
  padding: 3px;
}
.headerWrapper .inputWrapper .search-input {
  flex: 0 0 80%
}
.headerWrapper .inputWrapper .seach-icons {
  flex: 0 0 20%
}
.children-vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-margin {
  margin-right: 10px;
}
.w-100 {
  width: 100%
}
.nav-menu-wrapper{
  display: flex;
 
}
.nav-menu-wrapper  .empty-wrapper{
  flex: 0 0 37.5%;
}
.nav-menu-wrapper  .nav-menu{
  flex: 0 0 30%;
}

.nav-menu-wrapper  .nav-menu ul {
  list-style: none;
  display: flex;
}
.nav-menu-wrapper  .nav-menu ul  li {
  margin-right: 30px;
  padding: 3px;
  cursor: pointer;
}
.nav-menu-wrapper  .nav-menu ul  li a {
  text-decoration: none;
}
.active {
  border-bottom: 3px solid #D41E43;
}
.sideNav {
  margin: 20px;
  width: 220px;
  height: 983px;
  background: #FFFFFF;
  border: 1px solid rgba(151, 151, 151, 0.4);
  box-sizing: border-box;
  border-radius: 5px;
}
.filter-wrapper {
  background: #FAFAFA;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
}
input  {
  border: 1px solid lightgray;
}